html,
body {
  background-color: rgb(239, 236, 243);
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
  font-size: larger;
  background-color: lightslategrey;
  width: 10px auto;
  padding-top: 10px;
}

img {
  width: 100%;
}

.container {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.new-coffee {
  font-size: 20px;
}

input[type="text"] {
  font-size: 20px;
}

select {
  width: 50%;
  font-size: 20px;
}

button {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 5px;
}

.middle-img {
  background-image: url(./images/the-studio-coffee-roasters-specialty-coffee-683x1024.jpg);
}

ul {
  list-style: none;
}

.list {
  padding-bottom: 25px;
  font-size: 20px;
}

.stock-button {
  cursor: pointer;
}

.out-of-stock {
  background-color: red;
  color: white;
}

footer {
  color: aliceblue;
  font-size: 20px;
  text-align: center;
  position: fixed;
  padding: 25px 10px 10px 10px;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-image: url(./images/coffee_beans.jpg);
}

@media (max-width: 992px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px 0px;
  }

  .middle-img{
    background-image: url(./images/coffee_beans.jpg);
    height: 90px;
  }

  select {
    width: 30%;
    font-size: 20px;
  }
}
